services:
  relying-party:
    build: ./relying-party
    image: cpu64/relying-party:latest
    container_name: relying-party
    environment:
      SERVICE_NAME: "The relying party service"
    expose:
      - "8000"
    networks:
      - wallet-net
    volumes:
      - ./certs/root-ca.crt:/usr/local/share/ca-certificates/root-ca.crt:ro

  trusted-list:
    build: ./trusted-list
    image: cpu64/trusted-list:latest
    container_name: trusted-list
    environment:
      SERVICE_NAME: "List of trusted providers service"
    expose:
      - "8000"
    networks:
      - wallet-net
    volumes:
      - ./certs/root-ca.crt:/usr/local/share/ca-certificates/root-ca.crt:ro

  pid-provider:
    build: ./pid-provider
    image: cpu64/pid-provider:latest
    container_name: pid-provider
    environment:
      SERVICE_NAME: "PID provider service"
    expose:
      - "8000"
    networks:
      - wallet-net
    volumes:
      - ./certs/root-ca.crt:/usr/local/share/ca-certificates/root-ca.crt:ro

  wallet-backend:
    build: ./wallet-backend
    image: cpu64/wallet-backend:latest
    container_name: wallet-backend
    environment:
      SERVICE_NAME: "Backend service"
    expose:
      - "8000"
    networks:
      - wallet-net
    volumes:
      - ./certs/root-ca.crt:/usr/local/share/ca-certificates/root-ca.crt:ro
    command: sh -c "uv run python -m hypercorn app.app:app --bind 0.0.0.0:8000"

  wallet-frontend:
    build: ./wallet-frontend
    image: cpu64/wallet-frontend:latest
    container_name: wallet-frontend
    environment:
      SERVICE_NAME: "Frontend service"
    expose:
      - "8000"
    networks:
      - wallet-net

  reverse-proxy:
    build: ./reverse-proxy
    image: cpu64/reverse-proxy:latest
    container_name: reverse-proxy
    ports:
      - "80:80"
      - "443:443"
    depends_on:
       - relying-party
       - trusted-list
       - pid-provider
       - wallet-backend
       - wallet-frontend
    networks:
      wallet-net:
        aliases:
          - relying-party.wallet.test
          - trusted-list.wallet.test
          - pid-provider.wallet.test
          - wallet-backend.wallet.test
          - wallet-frontend.wallet.test
    volumes:
      - ./certs/wildcard.test.crt:/etc/nginx/certs/wildcard.test.crt:ro
      - ./certs/wildcard.test.key:/etc/nginx/certs/wildcard.test.key:ro

networks:
  wallet-net:
